<form action="">
  <input type="hidden" name="kaydet" value="true">
  Çanak Yaprak Uzunluğu: <input type="text" name="canak_yaprak_uzunluk">
  Çanak Yaprak Genişliği: <input type="text" name="canak_yaprak_genislik">
  Taç Yaprak Uzunluğu: <input type="text" name="tac_yaprak_uzunluk">
  Taç Yaprak Genişliği: <input type="text" name="tac_yaprak_genislik">
  <input type="submit" value="Kaydet">
</form>
<% @list.each do |cicek| %>
  <%= cicek %> <br>
<% end %>
